<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Resident Portal</string>
	<key>CFBundleIdentifier</key>
	<string>
		example.resident.portal
	</string>
	<key>CFBundleName</key>
	<string>Resident Portal</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>resident.portal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Used to upload files to the resident portal.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to upload files to the resident portal.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Used for rent reminders and account updates.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
